body {
    line-height: 1.4;
    color: #2a2a2a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    width: 600px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
}

.search-input {
    font-size: 18px;
    flex-grow: 1;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #303030;
    border-radius: 8px;
}

.search-btn {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #4E75FF;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-card {
    width: calc((100% - 60px) / 3);
    border: 1px solid #808080;
}

.gallery-img {
    width: 360px;
    height: 200px;
    object-fit: cover;
}

.card-info {
    font-size: 14px;
}

.info-text {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

li {
    display: flex;
    flex-direction: column
}

.load-more{
    padding: 8px 16px 8px 16px;
    height: 40px;
    width: 125px;
    background-color: #4E75FF;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    border-color: transparent;
}


.loader {
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.loader.is-hidden {
    display: none;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #000000;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}